<div class="shadow p-3 mb-5 bg-white rounded">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item {{ (i == 0) ? 'active' : '' }}" *ngFor="let event of events; let i=index">
        <img class="d-block w-100" [src]="event.image" alt="">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ event.title }}</h5>
          <p>{{ event.details }}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

