<div class="shadow p-3 mb-5 bg-white rounded">

  <h1>Sign Up</h1>
  <p>Please fill in your information.</p>

  <form>
    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Name">
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" placeholder="Email">
    </div>
    <div class="mb-3">
      <input type="tel" class="form-control" placeholder="Contact No.">
    </div>
    <div class="mb-3">
      <select class="form-select" size="3" aria-label="event select">
        <option value="1">Build a House with Habitat for Humanity</option>
        <option value="2">Old Clothes for The Need</option>
        <option value="3">Adopt These Cuties</option>
      </select>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
      <label class="form-check-label" for="flexCheckChecked">
        Receive news and updates
      </label>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
  </form>

  <h4>For More Information...</h4>
  <p>Contact us directly 000 - 000 0000 or Email at email@email.com</p>


</div>




